.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {}

.App-link {
  color: #61dafb;
}

h1, h2, h3,
h4, h5, h6 {
  line-height: 100%;
  text-shadow: 2px 2px #000;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiCardHeader-action {
  align-self: center !important;
}

.MuiMasonry-root {
  margin: auto !important;
}

.static-video-container {
  text-align: center !important;
}

.responsive-video-container {
  text-align: center !important;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.responsive-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.responsive-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MuiContainer-root img {
  max-width: 100%;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry-grid-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 30px;
}

#post-body > * a:any-link {
  color: #4FC1F1;
}
